@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";
// @import "../styles/animate.scss";


*{
    z-index: 10;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    background: url('../img/bg.jpg') left;
    background-repeat: no-repeat;
    background-size: 400%;
    transition: background-position 0.5s linear;
    
    .folder{
        margin-top: 10vh;
        width: 100vh;
        height: 50vh;
        text-align: center;
        box-shadow: 2px 2px 10px #000;
        border-radius: 15%;
        padding-top: 10vh;
        background-color: rgba(255, 255,255, 0.2) ;
        filter: blur(0.5px);
        transition: 0.1s;
        font-size: 15px;
        @media (max-width: 1025px) {
            font-size: 13px;
        }
        @media (max-width: 426px) {
            padding-top: 1vh;
            font-size: 10px;
            width: 50vh;
        }
        @media (max-width: 321px){
            width: 40vh;
            padding-top: 0;
            font-size: 9px;
        }

        h1, h2{
            filter: blur(0px);
            transform: rotateY(-180deg);
        }
        &__active{
            transition: transform 0.5s ease;
            transition: opacity 0.7s;
            display: block;
            transform: rotateY(180deg);
            animation: animationFolder 2s;
            h1, h2, p, img, span, form{
                filter: blur(0px);
                transform: rotateY(-180deg);
            }
        }

    }
    .nav{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: aliceblue;
        list-style: none;
        font-size: 30px;
        .nav__item{
            cursor: pointer;
            transition: 0.5s ease;
            &:hover{
                text-shadow: green 5px 5px 10px;
                transform: skew(-15deg);
            }
            &__active{
                text-shadow: yellowgreen 5px 5px 10px;
                transform: skew(-15deg); 
            }
            @media (max-width: 1025px) {
                font-size: 25px;
            }
            @media (max-width: 426px) {
                font-size: 15px;
            }
        }
    }
    
}


.active_first{
    background-position: left;
}
.active_second{
    background-position: top;
}
.active_trid{
    background-position: right;
}
.active_four{
    background-position: bottom;
}

.disable{
    display: none;
}

@keyframes animationFolder{
    0%{
        transform: rotateY(0deg);
        opacity: 0;
    }
    50%{
        transform: rotateY(180deg);
        // opacity: 1;
    }
        
}