<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>NoobSaibot</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>

        <main>
            <nav class="navigator">
                <ul class="nav">
                    <li class="nav__item awards"><i class="fas fa-user-cog"></i></li>
                    <li class="nav__item about"><i class="fas fa-user-edit"></i></li>
                    <li class="nav__item portfolio"><i class="fas fa-briefcase"></i></li>
                    <li class="nav__item skils"><i class="fas fa-scroll"></i></li>
                    <li class="nav__item contacts"><i class="far fa-address-card"></i></li>
                </ul>
            </nav>
            <div class="folder folder__main folder__active">
                <h1>Timofey Man'ko</h1>
                <h2>Front-end developer</h2>
            </div>
            <div class="folder folder__about disable">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem distinctio aliquid repellat necessitatibus illo omnis, molestiae magnam, voluptate totam quae facilis nesciunt magni nobis excepturi odio facere cumque veniam ex.
                    Corporis in non repudiandae quae, magni illo eveniet laboriosam aspernatur nobis exercitationem facere earum impedit consequatur odit. Autem laudantium minima quasi cupiditate ad hic dolorem facere illo numquam, soluta cumque?
                    Ea, dignissimos beatae dicta, ullam eos non molestias dolores ducimus explicabo ipsam aperiam illum? Alias deserunt aspernatur sequi molestiae doloribus, recusandae velit molestias minus est accusamus maiores? Aliquid, ratione magnam!
                    Pariatur quis harum voluptates voluptate voluptatibus delectus, eveniet at natus neque inventore quaerat, animi beatae repellat atque saepe adipisci debitis. Quaerat ab animi amet alias adipisci eos facere perspiciatis voluptas.
                    Molestiae, sunt explicabo. Optio, ullam vitae! Voluptate iure facere odio harum debitis adipisci soluta cum asperiores perferendis nobis, doloremque dolores obcaecati maxime. Iure id odit consectetur ratione commodi veniam dignissimos.
                </p>
            </div>
            <div class="folder folder__portfolio disable">
                <h1>Timofey Man'ko</h1>
                <h2>Front-end developer</h2>
            </div>
            <div class="folder folder__contacts disable">
                <form action="massage">
                    <input type="text">
                </form>
            </div>
            <div class="folder folder__skils disable">
                <h1>Timofey Man'ko</h1>
                <h2>Front-end developer</h2>
            </div>
            <div class="lang">
                <span>Rus</span>
                <span>Eng</span>
            </div>
        </main>

        <script src="../js/index.js"></script>
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
